:root {
    --white-color:                #FFFFFF;
    --primary-color:              #FF4400;
    --section-bg-color:           #f0f8ff;
    --dark-color:                 #000000;
    --grey-color:                 #d0d1d1;
    --p-color:                    #717275;
  
    --body-font-family:           'Inter', sans-serif;
  
    --h5-font-size:               24px;
    --p-font-size:                20px;
    --copyright-text-font-size:   16px;
    --product-link-font-size:     14px;
    --custom-link-font-size:      12px;
  
    --font-weight-thin:           100;
    --font-weight-light:          300;
    --font-weight-normal:         400;
    --font-weight-bold:           700;
    --font-weight-black:          900;
  }
  


main {
    height: 100vh;
    width: 100vw;
    background-color: var(--white-color);
    font-family: var(--body-font-family);  
    
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2 {
  font-weight: var(--font-weight-black);
}

h1 {
  font-size: 64px;
  line-height: normal;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

.logo-color {
    color: var(--primary-color);
}


a {
    color: var(--primary-color);
    text-decoration: none;
  }

a:hover {
    color: var(--primary-color);
    border-bottom: 3px solid var(--dark-color);
}



.hero-flex-container {
    height: 100vh;
    width: 100vw;
    background: url('assets/background-logo.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-body {
    margin-left: 500px;
}

.center-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-left {
    display: flex;
    justify-content: start;
}

.flex-container-center {
    display: flex;
    justify-content: center;
}

ul li {
    list-style: none;
    margin: 10px;

}

.nav-links li a {
  list-style-type: none;;
}

.lead {
    font-size: 1.5rem;
    font-weight: var(--font-weight-thin);
    color: var(--primary-color);

  }

  .hero-body h1 {
    color: var(--primary-color);
    text-transform: capitalize;
  }
  
  .contact-bg {
    background-color: var(--dark-color);
    color: var(--primary-color);
    padding: 30px;
    border-radius: 10%;
    color: var(--primary-color);
  }
  
   .features h1 {
      text-align: center;
      color: var(--primary-color);
      text-transform: capitalize;
  }

  .features_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

.features_list_main_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.features_list_main_container ul li {
  max-width: 300px;
  list-style: square;
}

.more_features_flex_container {
  display: flex;
  width: 100vw;
  margin-top: 100px;
  justify-content: center;
  object-fit: cover;
  height: 30vh;
 }

.more_features h1 {
  color:var(--primary-color);
  text-align:center;
}

.more_features_container h1 {
  color: var(--primary-color);
  text-transform: capitalize;
}

.features_image_flex_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.more_features_list_container {
  display: flex;
  justify-content: center;
}

.more_features_list_container li {
  list-style: square;
  
  
}

.title_container h1 {
  text-align:center;
  color:var(--primary-color);
  text-transform: capitalize;
}

.comments_container {
  width: 100vw;
  height: 100vh;
}
.comments_flex_container {
  display: flex;
  justify-content: center;
  margin-left: 500px;
  flex-direction: column;
  margin-left: 800px;
}

.comment p {
  max-width: 400px;
}

.comment h3 {
  color: var(--primary-color);
}
